<form>
  <input type="number" [(ngModel)]="num1" name="num1">
  <input type="number" [(ngModel)]="num2" name="num2">
  <button (click)="calc()">Somar</button>
  {{sum}}
</form>

<form>
  <input type="number" [(ngModel)]="num3" name="num3">
  <input type="number" [(ngModel)]="num4" name="num4">
  <button (click)="calc2()">Dividir</button>
  {{sumdivis}}
</form>

<form>
  <input type="number" [(ngModel)]="num5" name="num5">
  <input type="number" [(ngModel)]="num6" name="num6">
  <button (click)="calc3()">Multiplicar</button>
  {{summulti}}
</form>

<form>
  <input type="number" [(ngModel)]="num7" name="num7">
  <input type="number" [(ngModel)]="num8" name="num8">
  <button (click)="calc4()">Subtrair</button>
  {{sumsub}}
</form>
